# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/version.txt
GameFinder/links.txt
.vs
/.vs
.vs/GameFinder/v17/ipch/AutoPCH/72c7fb4b831925af/GAMEFINDER.ipch
.vs/GameFinder/v17/ipch/AutoPCH/72c7fb4b831925af/GAMEFINDER.ipch
